<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>超市首页</title>
    <link rel="stylesheet" type="text/css" href="/css/supermarket/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/supermarket/index.css"/>
    <script type="text/javascript" src="/js/supermarket/Adaptive.js"></script>
    <script src="/js/supermarket/jquery-1.7.1.min.js"></script>
    <script src="/js/supermarket/jquery.nav.js"></script>

</head>
<body>

<div class="nav-lf">
    <ul id="nav">
        <li class="current" th:each="c : ${commodityClassList}" id="div1">
                <a th:text="${c.commodityClassName}" onclick="test(this)" th:id="${c.commodityClassId}"></a>
        </li>
    </ul>
</div>

<div id="container" class="container">

    <div class="section" id="st1">
        <div class="prt-lt">
            <div><img src=""/></div>
            <div class="lt-ct">
                <p>商品1</p>
                <p class="pr">¥<span class="price">60.00</span></p>
            </div>
            <div class="lt-rt">
                <input type="button" class="minus"  value="-"/>
                <input type="text" class="result" value="0"/>
                <input type="button" class="add" value="+"/>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="ft-lt">
        <p>合计:<span id="total" class="total">163.00元</span><span class="nm">(<label class="share"></label>份)</span></p>
    </div>
    <div class="ft-rt">
        <p>选好了</p>
    </div>
</footer>

<script>

    //从后端获取商品信息
    //<![CDATA[
    function test(obj) {

        var id = obj.id;
        $("#st1").empty();

        $.ajax({
            url: "/supermarket/getcommodity",
            data: { "id": id },
            dataType: "json",
            type: "post",
            traditional: true,
            success: function (data) {
                for(var i=0;i<data.length;i++){
                    var name = data[i].commodityName;
                    $("#st1").append("<div class='section' id='st1'><div class='prt-lt'><div><img src=''/></div><div class='lt-ct'><p>"+name+"</p><p class='pr'>¥<span class='price'>60.00</span></p></div><div class='lt-rt'><input type='button' class='minus'  value='-'/><input type='text' class='result' value='0'/><input type='button' class='add' onclick='add(this)' value='+'/></div></div></div>");
                }

            },
            error: function (data, status, er) {
            }
        });
    }
    //]]>

</script>
<script>
    function add(obj) {

        var t=$(obj).parent().find('input[class*=result]');
        t.val(parseInt(t.val())+1);
        setTotal();

    }
    function setTotal(){
        var s=0;
        var v=0;
        var n=0;
        <!--计算总额-->
        $(".lt-rt").each(function(){
            s+=parseInt($(this).find('input[class*=result]').val())*parseFloat($(this).siblings().find('span[class*=price]').text());

        });

        <!--计算菜种-->
        var nIn = $("li.current a").attr("href");
        $(nIn+" input[type='text']").each(function() {
            if($(this).val()!=0){
                n++;
            }
        });

        <!--计算总份数-->
        $("input[type='text']").each(function(){
            v += parseInt($(this).val());
        });
        if(n>0){
            $(".current b").html(n).show();
        }else{
            $(".current b").hide();
        }
        $(".share").html(v);
        $("#total").html(s.toFixed(2));
    }
    setTotal();

    //<![CDATA[
    $(function(){

        $(".add").click(function(){
            var t=$(this).parent().find('input[class*=result]');
            t.val(parseInt(t.val())+1);
            setTotal();
        })

        $(".minus").click(function(){
            var t=$(this).parent().find('input[class*=result]');
            t.val(parseInt(t.val())-1);
            if(parseInt(t.val())<0){
                t.val(0);
            }
            setTotal();


        })

    })
    //]]>
</script>
<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });

    $(function(){
        $('#nav').onePageNav();
    });

</script>

</body>
</html>