<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理</title>
    <script src="/js/jquery-3.1.1.min.js"></script>
</head>
<style>
    .left{width: 10%;height: 600px;float: left;text-align: center}
    button{display: block;margin-top: 10px;margin-left: 30px}
    .right{width: 90%;float: right;height: 600px;}
</style>

<body style="padding: 0;margin: 0;">
<div style="height: 3em;background-color: #b2e2fa;text-align: center;line-height: 3em">

    <span><font color="red" size="5em;">后台管理</font></span>

</div>

<div style="text-align: center" class="left">
    <button value="/img">设置图片</button>
    <button value="/upload">上传图片</button>
    <button value="/admin/addcity">添加城市</button>
    <button value="/admin/addcommodity">添加商品</button>
    <button value="/admin/editcommodity">修改商品</button>

</div>

<div class="right">

</div>

<script>
    $(function () {
        $("button").click(function () {
            var url = $(this).val();
            $(".right").load(url);
        })
    })
</script>

</body>
</html>