<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理</title>
</head>
<body style="padding: 0;margin: 0">
<div style="height: 3em;background-color: #b2e2fa;text-align: center;line-height: 3em">

    <span><font color="red" size="5em;">后台管理</font></span>

</div>

<div style="text-align: center">
    <a href="/img" onclick="open(1)">设置图片</a>
    <a href="/upload" onclick="open(2)">上传图片</a>
    <a href="/admin/addcity" onclick="open(3)">添加城市</a>
</div>


</body>
</html>