<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Upload Page</title>
    <script src="http://ors703hgy.bkt.clouddn.com/store/js/jquery-3.1.1.min.js"></script>
    <script src="http://ors703hgy.bkt.clouddn.com/store/js/qiniu.js"></script>

    <style>

        * {
            font-family: "Microsoft YaHei UI";
        }

        .uploadButton {
            width: 200px;
            height: 60px;
            border-radius: 25px;
            background-color: beige;
            display: flex;
            flex-flow: row nowrap;

        }
    </style>



</head>
<body>
    <div class="container">

        <div class="uploadButton" id="uploadButton">
            <div style="margin: auto;font-weight: bold; font-size: 24px; cursor: pointer;">+ 图片</div>
        </div>

        <h3>你的上传文件最后的七牛URL地址是</h3>
        <a style="font-size: 26px;" id="result" href="#"></a><br/>
        <span id="img"></span>
    </div>




    <script>
        $(document).ready(function () {

            var _token = null;

            $.ajax({
                url: '/token',
                type: 'get',
                success: function (data) {
                    _token = data;
                    console.debug('A: ' + _token);
                }
            });


            // 上传空间URL
            var uploadSpace = 'http://ors703hgy.bkt.clouddn.com';


            qiniu.config({
                url: uploadSpace,
                uploadUrl: 'up-z2.qiniu.com' // 七牛统一的一个上传域名，固定
            });


            qiniu.bind($('#uploadButton'), {
                filter: 'image'
            }).on('file', function(file) {

                console.debug('---');

                var imagesBucket = qiniu.bucket('learning', {
                    putToken: _token
                });

                console.debug('B: ' + _token);

                // 上传文件名
//                var fileName = 'abc_' + new Date().getMilliseconds() + '.jpg';

//                var fileName

                console.debug(file);

                var fileName = file.name;

                fileName = 'store/image/' + fileName;

//                    return;

                console.debug('文件名：'  + fileName);


                // Upload
                imagesBucket.putFile(fileName, file)
                    .then(
                        function(reply) {
                            // 上传成功
//                            console.dir(reply);

                            console.debug(reply.hash);
                            console.debug(reply.key);
                            var se = new Date().getMilliseconds();
                            var src = uploadSpace + '/' + fileName + '?v=' + se;
                            $('#result').html(uploadSpace + '/' + fileName + '?v=' + se);
                            $('#result').prop('href', uploadSpace + '/' + fileName + '?v=' + se);


                            $.ajax({
                                url: '/saveImg?src='+src,
                                type: 'get',
                                success: function (data) {

                                    console.debug(data);
                                    $('#img').html("保存数据库成功");
                                }
                            });
                        },
                        function(err) {
                            // 上传失败
                            console.error(err);
                        }
                    );
            });

        });

        $.extend({
            upload2Qiniu:function () {

            }
        });
    </script>
</body>
</html>