<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>小区选择</title>
    <link href="http://ors703hgy.bkt.clouddn.com/store/css/style1.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<nav>
    <a href="#" class='goback'>
        <b></b>
    </a>
    选择城市
</nav>


<div class="loan_jm1">
    <ul>
        <li class="loan_jm_l1">

            <div>
                <span style="width: 90%" class="wbk_srn select_show select_gr" id="gr_zone_ids" data-id="130100"></span>
                <button class="submit" type="button" style="height: 3.1em;width: 3em">提交</button>
                <b></b>
            </div>
        </li>
    </ul>
</div>


<div class="container" style="z-index: 9999;">
    <div class="city">
        <div class="city-list" th:each="m : ${map1}">
            <span style="background-color: #efecec;height: 0.3em;line-height: 0.3em" class="city-letter" th:text="${m.key}"></span>
            <font th:each="map : ${m.value}">
                <p th:text="${map.cityname}" ></p>
            <div style="margin-left: 20px;" th:each="v : ${map.villages}">
                <p data-id="210300" th:text="${v.villagename}" ></p>
            </div>
            </font>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ors703hgy.bkt.clouddn.com/store/js/zepto.js"></script>
<script type="text/javascript">
   $(function () {


       //加载城市事件
       $('body').on('click', '#zone_ids,#gr_zone_ids', function () {
           var zid = $(this).attr('id');
           $('.container').show();

       });

       //选择城市 start
       $(".city-list div p").click(function () {
           var type = $('.container').data('type');

           var cityname = $(this).parent().parent().children().eq(0).html() + "-";
           $('#gr_zone_ids').html(cityname+$(this).html()).attr('data-id', $(this).attr('data-id'));
           $('.container').hide();

       })


       $('body').on('click', '.letter a', function () {
           var s = $(this).html();
           $(window).scrollTop($('#' + s + '1').offset().top);
       });

       //点击button
       $(".submit").click(function () {

           var xiaoqu = $("#gr_zone_ids").text();

           window.opener.document.getElementById("xiao").value = xiaoqu;
           window.close();

       })
   })
</script>

</body>
</html>