<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>评论列表</title>
</head>

<style>
    body{padding: 0;margin: 0;font-size: 2em;}
    .content{display: flex;display: -webkit-flex;flex-flow: row nowrap;}
</style>

<body>
<div  th:each="c : ${commentsList}">
<div class="content">

    <div style="margin-top: 0.4em;margin-left: 0.4em;">
        <img src="/img/user/301.jpg">
    </div>

    <div style="width: 100%;margin-left: 0.4em;" >
        <div style="display: flex;display: -webkit-flex;flex-flow: row nowrap;justify-content: space-between">
            <div style="margin-top: 0.5em;">
                <span th:text="${c.user.name}">demo</span>
            </div>

            <div style="margin-top: 0.5em;margin-right: 0.2em">
                <span th:text="${#calendars.format(c.dateTime,'yyyy-MM-dd')}">2017-7-1</span>
            </div>
        </div>

        <div style="margin-top: 0.3em;">
           <span style="display: block" th:text="${c.content}"> 卖的不错，良心</span>
            <font th:each="m : ${map1}">
                <font th:each="mm : ${m.value}">
            <img th:if="${c.commentsId == m.key}" th:src="${mm}" src="/img/user/1.jpg" style="height: 3em;width: 3em;margin-top: 1em;"/>
                </font>
            </font>
        </div>
    </div>
</div>
<hr style="display: block;width: 96%;background-color: grey"/>
</div>

</body>
</html>