<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://ors703hgy.bkt.clouddn.com/store/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/wap.css"/>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ors703hgy.bkt.clouddn.com/store/js/amazeui.min.js"></script>

    <style>
        .menu{position:relative;float:left;width:25%;height:50px;line-height:50px;background:#fff;border-right:1px solid #ebebeb;box-sizing:border-box;text-align: center;-webkit-box-sizing:border-box;  }
        .new-sub{position:absolute;bottom:60px;z-index:10;width:100%;padding: 0px 10px;background: #fff;box-sizing:border-box;-webkit-box-sizing:border-box;border: 1px solid #EEEEEE;border-radius: 5px;display:none;}
        .new-sub li{width: 100%;background:#fff;float:none;box-sizing:border-box;-webkit-box-sizing:border-box;border-top:1px solid #f2f2f2;}
        .new-sub li a{display:block;height:50px;line-height:50px;text-align:left;background:#fff;color:#333;border:none;text-align:center;font-size:16px;}
        .menu a{color: red}
        nav {position: relative;width: 100%;height: 38px;line-height: 38px;background-color: #f44765;color: #ffffff;text-align: center;font-size: 2rem;}

    </style>

    <title>首页</title>

</head>
<body style="display: flex;flex-flow: column wrap;padding-bottom: 50px;background-color: #FFFFFF">
<d class="s">
<div>
<nav>

    <span style="float: left;padding-left: 1.5em" th:if="${session.user}" th:text="${session.user.xiaoqu}">成华小区</span>
    迷家
    <img src="http://ors703hgy.bkt.clouddn.com/store/image/309.png" style="max-width:100%;height:75%;float: right;padding-top: 0.2em;"/>
</nav>
</div>

<!--主页-->
<div class="in">
    <div>
    <div class="pet_mian" id="top" >
        <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}' >
            <ul class="am-slides">
                <li  th:each="img : ${imgList}">
                    <img th:src="${img.src}" src="http://ors703hgy.bkt.clouddn.com/store/image/fl01.png"/>
                </li>
            </ul>
        </div>


        <div class="pet_circle_nav" style="background-color: white;height: 21em;">
            <ul class="pet_circle_nav_list" style="padding-top: 2.3em">
                <li th:each="m : ${moduleList}">
                    <a th:href="${m.url}+${m.moduleId}" class="iconfont pet_nav_xinxianshi " th:style="'background: url('+${m.src}+')'+'; background-size:100%;'"></a>
                    <span th:text="${m.name}">社区超市</span>
                </li>
            </ul>
        </div>
    </div>
</div>

    <div>
<div class="pet_mian" style="display: flex;display: -webkit-flex;flex-flow: row nowrap;">

    <div style="background-color: #6fc01e;width: 100%;height: 300px;">
        物业工作展示
    </div>

    <div style="background-color: red;display: -webkit-flex;flex-flow: column wrap;width: 100%">
        <div style="background-color: blue;flex: auto">
            业主投票
        </div>

        <div style="background-color: #7f2d00;flex: auto">
            小区公告
        </div>

        <div style="background-color: cyan;flex: auto">
            物业保修
        </div>
    </div>

</div>
</div>
</div>

<div style="position: fixed;bottom: 0;width: 100%;border-top: 1px solid #eee;background-color: #fff;">
<div class="pet_mian">

    <div class="menu" >
        <div class="bt-name"><a class="zy">主页</a></div>
    </div><!--menu-->

    <div class="menu">
        <div class="bt-name"><a class="d">订单</a></div>
    </div><!--menu-->

    <div class="menu">

        <a class="bt-name">我的</a>
        <div class="sanjiao"></div>
        <div  class="new-sub">
            <ul>
                <li><a href="/user/back" >找回密码</a></li>
                <li th:each="u : ${user}">
                    <span th:text="${user.name}"></span>
                </li>

            </ul>
            <div class="tiggle"></div>
            <div class="innertiggle"></div>
        </div>
    </div><!--menu-->


    <div class="menu" >
        <a class="bt-name">更多</a>
        <div class="sanjiao"></div>
        <div  class="new-sub">
            <ul>
                <li><a href="javascript();">第一项</a></li>
                <li><a href="javascript();">第二项</a></li>
            </ul>
            <div class="tiggle"></div>
            <div class="innertiggle"></div>
        </div>
    </div><!--menu-->



</div>
</div>
</d>
<script type="text/javascript">
    
    //弹出垂直菜单
    $(".menu").click(function() {
        if ($(this).hasClass("cura")) {
            $(this).children(".new-sub").hide(); //当前菜单下的二级菜单隐藏
            $(".menu").removeClass("cura"); //同一级的菜单项
        } else {
            $(".menu").removeClass("cura"); //移除所有的样式
            $(this).addClass("cura"); //给当前菜单添加特定样式
            $(".menu").children(".new-sub").slideUp("fast"); //隐藏所有的二级菜单
            $(this).children(".new-sub").slideDown("fast"); //展示当前的二级菜单
        }
    });
</script>

</body>
</html>