<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>欢迎</title>
    <script src="js/jquery-3.1.1.min.js"></script>
</head>
<body>
<script type="text/javascript">

    //<![CDATA[
    $(function () {
        setTimeout(changeTime,1000);
    });

    var time = 3;
    function changeTime() {
        time--;
        if(time <= 2){
            window.location.href = "/index";
        }
    }
    //]]>
</script>
<div style="display: flex;display: -webkit-flex;flex-flow: column nowrap;">
<img src="img/welcome.jpg" style="height: 100%;width: 100%;z-index: -1"/>
</div>
</body>
</html>