<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CityMapper">

    <resultMap id="cityList" type="com.example.demo.domain.City">
        <id column="c_id" property="c_id"></id>
        <result column="cityname" property="cityname"></result>
        <result column="ping" property="ping"></result>
        <collection property="villages" ofType="com.example.demo.domain.Village">
            <id column="vid" property="vid"/>
            <result column="villagename" property="villagename"/>
        </collection>
    </resultMap>


    <!--根据id查询City,关联将villages查询出来-->
    <select id="findById" resultMap="cityList">
        select c.*,v.* FROM city c,village v WHERE c.c_id=v.cid and c.c_id=#{id};
    </select>

    <!--查询所有-->
    <select id="findAll" resultMap="cityList">
        SELECT * from
        city,village order by ping
    </select>




</mapper>

