<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CommodityMapper">

    <resultMap id="commodityList" type="com.example.demo.domain.Commodity">
        <id column="commodityId" property="commodityId"></id>
        <result column="commodityName" property="commodityName"></result>
        <result column="commodityDescribe" property="commodityDescribe"></result>
        <result column="commodityPrice" property="commodityPrice"></result>
        <result column="commodityStock" property="commodityStock"></result>
        <result column="commoditySrc" property="commoditySrc"></result>
        <result column="state" property="state"></result>
        <result column="c_id" property="c_id"></result>

        <association property="commodityClass" javaType="com.example.demo.domain.CommodityClass">
            <id column="commodityClassId" property="commodityClassId"></id>
            <result column="commodityClassName" property="commodityClassName"></result>
        </association>

        <collection property="orders" ofType="com.example.demo.domain.Order">
            <id column="orderId" property="orderId"></id>
            <result column="orderNo" property="orderNo"></result>
            <result column="submitTime" property="submitTime"></result>
            <result column="conTime" property="conTime"></result>
            <result column="totalPrice" property="totalPrice"></result>
            <result column="isPayoff" property="isPayoff"></result>
            <result column="iscon" property="iscon"></result>
        </collection>

    </resultMap>

    <!--查询已上架商品与商品类之间的信息-->
    <select id="findAllandstate" resultMap="commodityList">
        select * from commodity c,commodityclass cc where c.c_id=cc.commodityClassId AND c.state=2
    </select>

    <!--根据状态查询所有商品与商品类之间的信息-->
    <select id="findcommodityAndclass" resultMap="commodityList">
        select * from commodity c,commodityclass cc where c.c_id=cc.commodityClassId
    </select>

    <!--根据商品类别id  查询商品信息-->
    <select id="getByclassId" resultMap="commodityList" parameterType="map">
        SELECT * FROM commodity c WHERE c.c_id=#{id} AND c.state=#{state}
    </select>


    <!--根据商品id查询商品信息-->
    <select id="getById" resultMap="commodityList">
        SELECT * FROM commodity c WHERE c.commodityId=#{id}
    </select>

    <!--查询所有-->
    <select id="findAll" resultMap="commodityList">
        SELECT * from
        commodity ORDER BY commodityId DESC
    </select>


    <!--新增-->
    <insert id="insert" parameterType="com.example.demo.domain.Commodity" useGeneratedKeys="true" keyProperty="commodityId">
        INSERT INTO commodity (commodityName,commodityDescribe,commodityPrice,commodityStock,commoditySrc,state,c_id)
        VALUES
        (
        #{commodityName},
        #{commodityDescribe},
        #{commodityPrice},
        #{commodityStock},
        #{commoditySrc},
        #{state},
        #{c_id}
        )
    </insert>

    <!--删除order_commodity对应关系orderId,commodityId-->
    <delete id="deleteOrderCommodity" parameterType="map">
        DELETE FROM order_commodity
        <where>
            <if test="orderId != null">orderId=#{orderId}</if>
            <if test="commodityId != null">AND commodityId=#{commodityId}</if>
        </where>
    </delete>

    <!--修改-->
    <update id="update" parameterType="com.example.demo.domain.Commodity">
        UPDATE commodity
        <set>
            <if test="commodityName!=null">commodityName=#{commodityName},</if>
            <if test="commodityDescribe!=null">commodityDescribe=#{commodityDescribe},</if>
            <if test="commodityPrice!=null">commodityPrice=#{commodityPrice},</if>
            <if test="commodityStock!=null">commodityStock=#{commodityStock},</if>
            <if test="commoditySrc!=null">commoditySrc=#{commoditySrc},</if>
            <if test="c_id!=null">c_id=#{c_id},</if>
            <if test="state!=null">state=#{state}</if>
        </set>
        WHERE commodityId=#{commodityId}
    </update>



</mapper>

