<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CommodityClassMapper">

    <resultMap id="commodityclassList" type="com.example.demo.domain.CommodityClass">
        <id column="commodityClassId" property="commodityClassId"></id>
        <result column="commodityClassName" property="commodityClassName"></result>

        <collection property="commodities" ofType="com.example.demo.domain.Commodity">
            <id column="commodityId" property="commodityId"></id>
            <result column="commodityName" property="commodityName"></result>
            <result column="commodityDescribe" property="commodityDescribe"></result>
            <result column="commodityPrice" property="commodityPrice"></result>
            <result column="commodityStock" property="commodityStock"></result>
            <result column="commoditySrc" property="commoditySrc"></result>
            <result column="state" property="state"></result>
        </collection>

    </resultMap>

    <!--查询所有-->
    <select id="findAll" resultMap="commodityclassList">
        SELECT * from
        commodityclass
    </select>


    <!--新增-->
    <insert id="insert" parameterType="com.example.demo.domain.CommodityClass" keyProperty="commodityClassId" useGeneratedKeys="true">
        INSERT INTO commodityclass (commodityClassName)
        VALUES
        (
        #{commodityClassName}
        )
    </insert>




</mapper>

