<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CommodityClassMapper">

    <resultMap id="commodityclassList" type="com.example.demo.domain.CommodityClass">
        <id column="commodityClassId" property="commodityClassId"></id>
        <result column="commodityClassName" property="commodityClassName"></result>

    </resultMap>

    <!--查询所有-->
    <select id="findAll" resultMap="commodityclassList">
        SELECT * from
        commodityclass
    </select>


    <!--新增-->
    <insert id="insert" parameterType="com.example.demo.domain.CommodityClass">
        INSERT INTO commodityclass (commodityClassName)
        VALUES
        (
        #{commodityClassName}
        )
    </insert>




</mapper>

