<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.OrderMapper">

    <resultMap id="ordersList" type="com.example.demo.domain.Order">
        <id column="orderId" property="orderId"></id>
        <result column="orderNo" property="orderNo"></result>
        <result column="submitTime" property="submitTime"></result>
        <result column="conTime" property="conTime"></result>
        <result column="totalPrice" property="totalPrice"></result>
        <result column="isPayoff" property="isPayoff"></result>
        <result column="iscon" property="iscon"></result>
        <result column="sum" property="sum"></result>


        <association property="module" javaType="com.example.demo.domain.Module">
            <id column="moduleId" property="moduleId"></id>
            <result column="src" property="src"></result>
            <result column="name" property="name"></result>
            <result column="url" property="url"></result>
            <result column="content" property="content"></result>
        </association>


        <association property="user" javaType="com.example.demo.domain.User">
            <id column="id" property="id"></id>
            <result column="phonenumber" property="phonenumber"></result>
            <result column="nickname" property="nickname"></result>
            <result column="xiaoqu" property="xiaoqu"></result>
            <result column="name" property="name"></result>
            <result column="address" property="address"></result>
            <result column="password" property="password"></result>
            <result column="date" property="date"></result>
        </association>

        <collection property="commodities" ofType="com.example.demo.domain.Commodity">

            <id column="commodityId" property="commodityId"></id>
            <result column="commodityName" property="commodityName"></result>
            <result column="commodityDescribe" property="commodityDescribe"></result>
            <result column="commodityPrice" property="commodityPrice"></result>
            <result column="commodityStock" property="commodityStock"></result>
            <result column="commoditySrc" property="commoditySrc"></result>
            <result column="state" property="state"></result>
            <result column="c_id" property="c_id"></result>

        </collection>

        <collection property="orderLists" ofType="com.example.demo.domain.OrderList">

            <id column="orderListId" property="orderListId"></id>
            <result column="order_Id" property="order_Id"></result>
            <result column="commodity_Id" property="commodity_Id"></result>
            <result column="commoditynum" property="commoditynum"></result>

        </collection>

    </resultMap>

    <!--根据订单编号查询订单信息-->
    <select id="findOrderByorderNo" resultMap="ordersList">
        select * from orders o
        left join orderlist ol
        on o.orderId=ol.order_Id
        left join commodity c
        on ol.commodity_Id=c.commodityId
        left join module m
        on o.module_id=m.moduleId
        where o.orderNo=#{orderNo}
    </select>

    <!--根据用户id和模块id查询订单信息-->
    <select id="findAllorderByModuleIdAndUserId" resultMap="ordersList" parameterType="map">
        select m.name,u.address,o.orderNo,o.submitTime,o.conTime,o.sum,o.totalPrice from user u left join orders o on u.id=o.user_id left join module m on o.module_id=m.moduleId where m.moduleId=#{moduleId} AND u.id=#{userId}
    </select>

    <!--根据模块id查询所有该模块的订单-->
    <select id="findAllorderByModuleId" resultMap="ordersList">
       select m.name,u.address,o.orderNo,o.submitTime,o.conTime,o.sum,o.totalPrice,o.isPayoff,o.iscon,o.orderId  from user u left join orders o on u.id=o.user_id left join module m on o.module_id=m.moduleId where m.moduleId=#{moduleId}
    </select>

    <!--根据订单id查询商品与商品数量关系-->
    <select id="findCommoditynum" resultMap="ordersList">
        select * from orders o
        left join orderlist ol
        on o.orderId=ol.order_Id
        left join commodity c
        on ol.commodity_Id=c.commodityId
        where o.orderId=#{orderId}
    </select>

    <!--根据用户id查询订单信息-->
    <select id="findOrderByuid" resultMap="ordersList">
        select * from orders o
        left join orderlist ol
        on o.orderId=ol.order_Id
        left join commodity c
        on ol.commodity_Id=c.commodityId
        left join module m
        on o.module_id=m.moduleId
        where o.user_id=#{id} order by o.orderId DESC
    </select>

    <!--根据订单id查询订单信息与模块信息-->
    <select id="findCommondityById" resultMap="ordersList">
      SELECT * FROM orders o,module m WHERE o.module_id=m.moduleId AND orderId=#{orderId}
    </select>

    <!--保护订单和商品之间的关系,并设置商品数量-->
    <insert id="saveRelation" parameterType="map">
        INSERT INTO orderlist(order_Id,commodity_Id,commoditynum)
        VALUES
        (
        #{order_Id},
        #{commodity_Id},
        #{commoditynum}
        )

    </insert>

    <!--新增订单信息-->
    <insert id="insertOrder" parameterType="com.example.demo.domain.Order" keyProperty="orderId" useGeneratedKeys="true">
        INSERT INTO orders (orderNo,submitTime,conTime,totalPrice,isPayoff,iscon,user_id,sum,module_id)
        VALUES
        (
        #{orderNo},
        #{submitTime},
        #{conTime},
        #{totalPrice},
        #{isPayoff},
        #{iscon},
        #{user.id},
        #{sum},
        #{module.moduleId}
        )
    </insert>

    <!--修改-->
    <update id="update" parameterType="com.example.demo.domain.Order">
        UPDATE orders
        <set>
            <if test="orderNo!=null">orderNo=#{orderNo},</if>
            <if test="submitTime!=null">submitTime=#{submitTime},</if>
            <if test="conTime!=null">conTime=#{conTime},</if>
            <if test="totalPrice!=null">totalPrice=#{totalPrice},</if>
            <if test="isPayoff!=null">isPayoff=#{isPayoff},</if>
            <if test="iscon!=null">iscon=#{iscon},</if>
            <if test="sum!=null">sum=#{sum}</if>
        </set>
        WHERE orderId=#{orderId}
    </update>

</mapper>

