<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.VillageMapper">

    <resultMap id="villageList" type="com.example.demo.domain.Village">
        <id column="vid" property="vid"></id>
        <result column="villagename" property="villagename"></result>
        <association property="city" javaType="com.example.demo.domain.City">
            <id column="c_id" property="c_id"/>
            <result column="cityname" property="cityname"/>
            <result column="ping" property="ping"/>
        </association>

    </resultMap>

    <!--根据id查询Village,关联将city查询出来-->
    <select id="findById" resultMap="villageList">
        SELECT c.*,v.* from city c,village v WHERE c.c_id=v.cid and v.vid=#{id}
    </select>




</mapper>

